body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }


.box {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem;
	width: 300px;
	height: 175px;
	border-radius: 50px;
	background-color: #abe;
	font-size: larger;
	animation: boxfloat 10s infinite;
}

@keyframes boxfloat {
	0% {
		transform: translateY(0);
		background-color: #abe;
	}
	20% {
		transform: translateX(-100px) translateY(-100px);
		background-color: #57d;
	}
	40% {
		transform: translateX(200px) translateY(-100px);
		background-color: #24a;
		color: #fff;
	}
	60% {
		transform: translateX(-200px) translateY(100px);
		background-color: #125;
		color: #fff;
	}
	80% {
		transform: translateX(200px) translateY(100px);
		background-color: #abe;
	}
	100% {
		transform: translateY(0);
		background-color: #abe;
		rotate: 50%;
	}
}
